# Ignore everything
/*

# Except these
!.gitignore
!.gitattributes
!LICENSE
!README.md
!Sandbox.ipynb
!/Cliff Notes Module 1/
!/Cliff Notes Module 2/
!/Cliff Notes Module 3/
!/Cliff Notes Module 4/
!/Cliff Notes Module 5/
!/Cliff Notes Module 6/
!/Cliff Notes Module 7/
!/Cliff Notes Module 8/
!/Cliff Notes Module 9/
!/Cliff Jumper Notes/
!/Canyon Notes/
!/Trainers/
!/Guides/
!/Tools/
